<div class="filters">
    <input [(ngModel)]="name" (ngModelChange)="filterTasks()" placeholder="Search by name">
    <div>
        <div>
            <input [(ngModel)]="tag" placeholder="Search tags.." (ngModelChange)="filterTags()">
            <button (click)="clearFilterTag()">x</button>
        </div>
        <div *ngFor="let tag of tags; trackBy: trackByFn" class="tag" (click)="toggleTag(tag.value)"
            [ngClass]="{'checked': tag.checked}">
            <input type="checkbox" [checked]="tag.checked">
            {{tag.value}}
        </div>
    </div>
</div>
<div class="table-wrapper">
    <strong>In progres tasks</strong>
    <table>
        <thead>
            <th>Name</th>
            <th>Live time spent</th>
            <th>Complete Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let pTask of inProgressTasks; trackBy: trackByFn">
                <td>
                    <a *ngIf="isAdmin" [routerLink]="['/task/edit', pTask.id]">{{pTask.name}}</a>
                    <span *ngIf="!isAdmin">{{pTask.name}}</span>
                </td>
                <td>{{getTimeSpent(pTask.id)}}</td>
                <td><button (click)="completeTask(pTask)">Complete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="table-wrapper">
    <strong>List of not started tasks</strong>
    <table>
        <thead>
            <th>Name</th>
            <th>Start Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let nsTask of notStartedTasks; trackBy: trackByFn">
                <td>
                    <a *ngIf="isAdmin" [routerLink]="['/task/edit', nsTask.id]">{{nsTask.name}}</a>
                    <span *ngIf="!isAdmin">{{nsTask.name}}</span>
                </td>
                <td><button (click)="startTask(nsTask)">Start</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="table-wrapper">
    <strong>List of completed tasks</strong>
    <table>
        <thead>
            <th>Name</th>
            <th>Time completed</th>
        </thead>
        <tbody>
            <tr *ngFor="let cTask of completedTasks; trackBy: trackByFn">
                <td>{{cTask.name}}</td>
                <td>{{cTask.timeCompleted}}</td>
            </tr>
        </tbody>
    </table>
</div>