<ul class="nav justify-content-center">
    <ng-container *ngIf="isAuth">
        <li class="nav-item">
            <a routerLink="/task">Task</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
            <a routerLink="/task/create">Create task</a>
        </li>
        <li class="nav-item">
            <button (click)="logout()">Log out</button>
        </li>
    </ng-container>
    <ng-container *ngIf="!isAuth">
        <li class="nav-item">
            <button routerLink="/login">Log in</button>
        </li>
        <li class="nav-item">
            <button routerLink="/signup">Sign up</button>
        </li>
    </ng-container>
</ul>